DB_SERVERNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=u125784517_contribuir_db
APP_ENV=development

# Configuración de correo (PHPMailer SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-contraseña-de-app
MAIL_FROM_NAME=Con Tribu Ir
